* {
    margin: 0;
    padding: 0;
}

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: #39a6b2;
}

/* apply styles to <h1> in the header */
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* apply style to <a> in the header */
header a {
    text-decoration: none;
    color: #fce138;
}

/* apply style to <nav> in the header */
header nav {
    float: right;
    margin: 7px 0;
}

/* apply style to the <li> in the header */
header nav ul li {
    display: inline;
}

/* apply style to the <a> in <li> in the header */
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

